<<<<<<< HEAD
{{form(fo)}}

{#<a href="{{path('ajouteuser')}}">Create New Account</a>
<a href="{{path('forgetpwd')}}">Forgotten password?</a>#}
=======
{% extends "indexs.html.twig" %}
{% block body %}
{{form(fo)}}

{% endblock %}
<<<<<<< HEAD
>>>>>>> 078c388824bb1ea755dd5d30634ea302c0539f84
=======
>>>>>>> refs/remotes/origin/main
>>>>>>> main
